* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "CroissantOne-Regular", Arial, sans-serif; /* this should be the rest of the output you got from Google Fonts */
        
  }

  
p,
li {
  padding: 0;
  margin: 1rem;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: whitesmoke;
}
body {
  margin: 0 auto;
  background-color: whitesmoke;
  /* padding: 0 20px 20px 20px;
  border: 5px solid black; */
}
h1 {
  color: steelblue;
  border-bottom: 1px solid steelblue;

}
main img {
  float: right;
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: steelblue;
  padding: 1rem;
  align-items: center;
}
nav a {
  color: white;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}


/* aside {
  position: relative;
  width: 20rem;
  text-align: center;
} */

aside img {

  width: 150px;
  height: auto;
}

/* aside h2 {
  position: absolute;
  top: 10px;
  left: 60px;
} */

footer, .grid, header {
  margin-top: 1em;
  border-top: 1px solid #000;
  max-width: 840px;
  text-align: center;
  margin: 0 auto;
}


/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 1rem;
  color: rgba(0, 0, 0, 1);
  background-color: yellowgreen;
}

.indent {
  padding-left: 2rem;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}
